<style>
         .banner_text_inner > ul li::after {
    content: "";
    font-family: fontawesome;
    height: 10px;
    left: -23px;
    position: absolute;
    top: 0px;
    width: 10px;
}
</style>
<div id="content" class="site-content">

    <div class="banner inner_banner carrer" style="background:#0D3D60;">
      <div class="bannerinner_outer" id="banner_image_on_bg12">
        
       <%  unless request.user_agent =~ /Mobile|webOS/%>
        <div class="banner_text_inner mobile-text">
          <%else%>
          <div class="text_on_banner">
        <%end%>
            
          <h1><span class="ylw_service">Join</span> Our Team</h1><ul><li>Come explore your hidden talents with us.</li><li>Get a chance to work with the finest designers, developers and analysts in town.</li><li>Work environment that motivates you to aspire and perform your best.</li></ul>        
        </div>
        <div class="banner_image_on_bg">
        </div>
      </div>

    </div>
    <div class="my_breadcrumbs"><ul id="breadcrumbs" class="breadcrumbs"><li class="item-home"><a class="bread-link bread-home" href="/" title="Homepage">Homepage</a></li><li class="separator separator-home"> / </li><li class="item-current item-12"><strong class="bread-current bread-12"> Careers</strong></li></ul></div>

  
  <div class="carrer_content">
    <div class="container-fluid">
      <div class="row">

        <div class="vc_row wpb_row vc_row-fluid first_box_creer"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element  career_heading">
    <div class="wpb_wrapper">
      <h2 class="service_name"><span class="ylw_service">Why</span> Work With Us?</h2>

    </div>
  </div>

  <div class="wpb_text_column wpb_content_element  first_box_p">
    <div class="wpb_wrapper">
      <p class="service_info"><span class="service_info_first_word centerss">W</span>e are fast driven professionals who are not afraid to think out of the box and pursue excellence. A career with Malibu IT Labs will motivate you to aim high and perform your best without any obstructions from hierarchy. Here you will get a chance to work in an organization governed by core values of perseverance, integrity, team work, and respect. Our values forge our culture where we foster personal growth and professional development of our employees. If you are with us, &#8220;stagnant&#8221; is one word which will never be used to describe your career. We hire superlative talent and provide a platform in which people can deploy their creative minds. Team work and collaboration has always been our key routes to solve complex problems.</p>

    </div>
  </div>
</div></div></div></div><div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid creer_sports_section_outer vc_row-no-padding"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_raw_code wpb_content_element wpb_raw_html career_video">
    <div class="wpb_wrapper">
      <!--video id="sampleMovie" src="/wp-content/uploads/2017/03/Video_Template.mp4" controls height="550" width="100%" autoplay ></video-->

    </div>
  </div>
</div></div></div></div>
<div class="vc_row-full-width vc_clearfix"></div>
<div class="vc_row wpb_row vc_row-fluid career_abt_working_box vc_custom_1488895492768 vc_row-has-fill vc_row-o-content-middle vc_row-flex">
     
  </div>
<div class="vc_row wpb_row vc_row-fluid career_jobs">
  <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">
      <div class="wpb_text_column wpb_content_element  career_heading">
         <div class="wpb_wrapper">
      <h2 class="service_name"><span class="ylw_service">Interested?</span> We Are Hiring</h2>

    </div>
  </div>

  <div class="wpb_text_column wpb_content_element  job_1st_p">
    <div class="wpb_wrapper">
      <p class="service_info">We want proactive and smart people who are not afraid to dream big and have the technical expertise to follow through. If you aspire to achieve your dreams then wait no more, send us your resume for the position that best suits your expertise.</p>

    </div>
  </div>

  <div class="wpb_text_column wpb_content_element  career_heading">
    <div class="wpb_wrapper">
      <h2 class="service_name"><span class="ylw_service">Internships
                                                
</span>(Phoenix location)</h2>

    </div>
  </div>

  <div class="wpb_text_column wpb_content_element  job_1st_p">
    <div class="wpb_wrapper">
      <p class="service_info">Starting off in a new industry can be exciting and challenging. Interns bring with them an array of backgrounds and experience, which can help us solve unique problems. We are always looking for great interns that want to get involved in the startup community. Interns will gain first hand knowledge of what it takes to make applications, fix bugs, and run a startup. We strive to make sure we hire from within, and our interns always get first consideration when we hire for Malibu or one of our startups we work with. If you are in the process of becoming a programmer, or want to gain experience in marketing or sales, then send us your resume.</p>

    </div>
  </div>
  <div class="wpb_text_column wpb_content_element  career_heading">
    <div class="wpb_wrapper">
      <h2 class="service_name"><span class="ylw_service">Programmers Needed 
                                                          
                                                            </span>(Scottsdale Location)
</h2>

    </div>
  </div>

  <div class="wpb_text_column wpb_content_element  job_1st_p">
    <div class="wpb_wrapper">
      <p class="service_info">We are currently looking for programmers both entry level and experienced in REACT, Node.js, Ruby on Rails, Java, .NET, SWIFT, Objective-C, UI/UX Designers, and Angular.</p>

    </div>
  </div>
<!--<div class="vc_row wpb_row vc_inner vc_row-fluid career_jobs_inner_box"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element  career_job_textblock">
    <div class="wpb_wrapper">
      <p class="service_name currentjob">Current Job Openings</p>

    </div>
  </div>

  <div class="wpb_text_column wpb_content_element  career_jobposts">
    <div class="wpb_wrapper">
      <p class="heading_crrjobs">Senior PHP Developer</p>
<p class="p_crrjobs">2-4 Years Experience</p>
<p class="p_deadline">Deadline Soon</p>
<div class="stardiv"></div>

    </div>
  </div>

  <div class="wpb_text_column wpb_content_element  career_jobposts">
    <div class="wpb_wrapper">
      <p class="heading_crrjobs">Senior IOS Developer</p>
<p class="p_crrjobs">2-4 Years Experience</p>
<p class="p_deadline">Deadline Soon</p>
<div class="stardiv"></div>

    </div>
  </div>

  <div class="wpb_text_column wpb_content_element  career_jobposts">
    <div class="wpb_wrapper">
      <p class="heading_crrjobs">PHP Team Lead</p>
<p class="p_crrjobs">5.5-7 Years Experience</p>
<p class="p_deadline">Deadline Soon</p>
<div class="stardiv"></div>

    </div>
  </div>

  <div class="wpb_text_column wpb_content_element  career_jobposts">
    <div class="wpb_wrapper">
      <p class="heading_crrjobs">Digital Marketing Analyst</p>
<p class="p_crrjobs">4 Years Experience</p>
<p class="p_deadline">Deadline Soon</p>
<div class="stardiv"></div>

    </div>
  </div-->
</div></div></div>
<div class="contact_form_carrer_outer wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element  contact_form_career">
    <div class="wpb_wrapper">
      <div role="form" class="wpcf7" id="wpcf7-f695-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"></div>
  
   <%= form_for  @career, :html => {:class => 'wpcf7-form', multipart: true} do |f |%>
<form action="/" method="post" class="wpcf7-form" enctype="multipart/form-data" novalidate>
<div style="display: none;">

</div>
<div class="contact_form">
<div class="top-div">
<p class="top-div-text"> Complete the form so we can connect with you</p>
</div>
<div class="form-element">
      <span class="wpcf7-form-control-wrap one-ele">  <%= f.text_field :name, :class => 'wpcf7-form-control wpcf7-text wpcf7-validates-as-required creername', placeholder: "Enter your name" , required: "true"%>
        <!--input type="text" name="one-ele" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required creername" aria-required="true" aria-invalid="false" placeholder="Your Name" /--></span>
   </div>
<div class="form-element">
      <span class="wpcf7-form-control-wrap your-email"> <%= f.email_field :email,name: "email", :class => 'wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email', placeholder: "Enter your email", required: "true" %><!--input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Your Email" /--></span> </div>
<div class="form-element">
   <span class="wpcf7-form-control-wrap your-num"> <%= f.text_field :phone, :class => 'wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel', placeholder: "Enter your phone number", required: "true" %><!--input type="tel" name="your-num" value="" size="40" minlength="6" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" aria-invalid="false" placeholder="Your Phone Number" /--></span></div>
<div class="form-element">
  <span class="wpcf7-form-control-wrap position"> <%= f.text_field :post_applied, :class => 'wpcf7-form-control wpcf7-text', placeholder: "Position Applied For", size: "40" %><!--input type="text" name="position" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Position Applied For" /--></span></div>
<div class="form-element career_attachment">
<span class="customfile-line">Attachment</span><span class="customfile-filename"></span><span aria-hidden="true" class="customfile-button">Browse</span><span class="wpcf7-form-control-wrap attach"><%= f.file_field :resume, required: true,class: "wpcf7-form-control wpcf7-file wpcf7-validates-as-required attach_creer" %><!--input type="file" name="attach" size="40" class="wpcf7-form-control wpcf7-file wpcf7-validates-as-required attach_creer" id="attach_cr" aria-required="true" aria-invalid="false" /--></span><br />
<span class="customfile-types">Only doc, docx and pdf files are allowed.</span>
</div>
<div class="form-element">
<span class="wpcf7-form-control-wrap your-message"> <%= f.text_area :comments, :class => 'wpcf7-form-control wpcf7-textarea', placeholder: "Type here...", cols: "40",rows: "10" %><!--textarea name="your-message" cols="40" rows="10" maxlength="1000" minlength="5" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Your Message"></textarea--></span>
<p class="counting">Word limit upto 1000 </p>
</div>
<div class="form-element capcha">
<div class="wpcf7-form-control-wrap"><div data-sitekey="6LfSyx4UAAAAAH4epAZ7fAbMBlxvixb7Wxr7fjsT" class="wpcf7-form-control g-recaptcha wpcf7-recaptcha"></div>
<noscript>
  <div style="width: 302px; height: 422px;">
    <div style="width: 302px; height: 422px; position: relative;">
      <div style="width: 302px; height: 422px; position: absolute;">
        <iframe src="https://www.google.com/recaptcha/api/fallback?k=6LfSyx4UAAAAAH4epAZ7fAbMBlxvixb7Wxr7fjsT" frameborder="0" scrolling="no" style="width: 302px; height:422px; border-style: none;">
        </iframe>
      </div>
      <div style="width: 300px; height: 60px; border-style: none; bottom: 12px; left: 25px; margin: 0px; padding: 0px; right: 25px; background: #f9f9f9; border: 1px solid #c1c1c1; border-radius: 3px;">
        <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;">
        </textarea>
      </div>
    </div>
  </div>
</noscript>
</div>
</div>
<div class="form-element">
<p> <%= f.submit "Apply", class: 'wpcf7-form-control wpcf7-submit' %><!--input type="submit" value="Apply" class="wpcf7-form-control wpcf7-submit" /-->
  </p></div>
</div>
<div class="wpcf7-response-output wpcf7-display-none"></div></form><%end%></div>

    </div>
  </div>
</div></div></div></div></div></div></div></div>        
        
        
      </div>
    </div>
  </div>

<script type="text/javascript">
jQuery('.attach_creer').change(function()
{     
var bb = document.getElementById("attach_cr").files[0].name; 
   jQuery('.customfile-line').text(bb);
});
</script>

<script type="text/javascript">
  jQuery('.contact_form_career .form-element .wpcf7-submit').click(function(){
      var a = jQuery('#attach_cr').val();
      var b = a.split('.').pop();
      if(a == ''){  
        //alert('Attachment should not be empty!');
        //return false;
      }else if
        ((b == 'doc') || (b == 'docx') || (b == 'pdf') || (b == 'DOC') || (b == 'DOCX') || (b == 'PDF')){
    
        return true;
      }else{
        alert('Please choose doc,docx or pdf file');
        return false;
    
      }
  
  });
</script>
    
        </div>