

<!--[if lt IE 9]>
<script type='text/javascript' src='https://www.brihaspatitech.com/wp-content/themes/TBI/js/html5.js'></script>
<![endif]-->

<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;} 
.logo{
	margin-top: -15px;
	height:81px!important;
}
</style>
		
<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="https://www.brihaspatitech.com/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="https://www.brihaspatitech.com/wp-content/plugins/js_composer/assets/css/vc-ie8.min.css" media="screen"><![endif]-->


<noscript><style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript>	

 <!--script src="/assets/jquery-3.3.1.min.js"></script-->
 <%= javascript_include_tag "jquery-3.3.1.min.js" %>
<!--link rel="stylesheet" type="text/css" href="/assets/owl.carousel.css" /-->
  <%= stylesheet_link_tag  "owl.carousel.css" %>
<!--%= stylesheet_link_tag "owl.theme.default.css" %-->
<link rel="stylesheet" type="text/css" href="/assets/owl.theme.default.css" />
<!-- page url-->	


<body class="home page page-id-24 page-template page-template-home page-template-home-php group-blog wpb-js-composer js-comp-ver-4.11.1 vc_responsive">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M7W3CBL" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

 
		<div id="page" class="site">
	
			<div id="content" class="site-content">

<style type="text/css">
    .home.page .navigation {background: #000 none repeat scroll 0 0;}
    .home.page .navigation.nav_white{background:#fff!important;}

</style>
<% content_for :head do %>
  <script src="/assets/classie.js"></script>
		<script src="/assets/mlpushmenu.js"></script>
		<script>
			new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ) );
		</script>
<% end %>
		
		<div id="primary" class="content-area">
			<main id="main" class="site-main" role="main">
				<!--<div class="vc_row wpb_row vc_row-fluid services"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">-->
				
		<div class="wpb_wrapper" id="section1">
			<h2 class="main_heading"><span class="highlight">What</span> we do</h2>
<p class="exp_text">We employ Agile, Lean methods to build robust products from conception to launch that people will actually use.</p>

		</div>
	
				<%= render partial: 'service'%>
				<div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid exp vc_row-no-padding">
					<div class="wpb_column vc_column_container vc_col-sm-12">
						<div class="vc_column-inner ">
							<div class="wpb_wrapper">
								<div class="wpb_text_column wpb_content_element ">
									<div class="wpb_wrapper">
										<h2 id="its_been_7" class="main_heading ">It&#8217;s been
											<!--<img class="alignnone size-full wp-image-4873" src="https://www.brihaspatitech.com/wp-content/uploads/2016/12/eight.png" alt="eight" width="91" height="91" srcset="https://www.brihaspatitech.com/wp-content/uploads/2016/12/eight.png 91w, https://www.brihaspatitech.com/wp-content/uploads/2016/12/eight-64x64.png 64w" sizes="(max-width: 91px) 85vw, 91px" ImageHolder="" />--><span
											 class="highlight"> 3 </span> Years</h2>
										<p class="exp_text">Malibu IT Labs has powered the web’s most successful applications that cover every
											aspect of website and application development.</p>

									</div>
								</div>
								<div class="vc_row wpb_row vc_inner vc_row-fluid seven_inner">
									<div class="wpb_column vc_column_container vc_col-sm-4">
										<div class="vc_column-inner ">
											<div class="wpb_wrapper">
												<div class="wpb_raw_code wpb_content_element wpb_raw_html">
													<div class="wpb_wrapper">
														<div id="cards-1" class="cards feature feature-1">
															<div class="fronts1">
																<p class="feat-img"><img src="/assets/images/startups-icon.png" alt="startups" ImageHolder="/assets/images/startups-icon.png" /></p>
																<h3 class="main-color">Startups</h3>
															</div>
															<div class="backs1">
																<!--p class="feat-img"><img src="/wp-content/themes/TBI/images/startup.png" /></p-->
																<h3 class="secondary-color"><span class="highlight">Cost</span>-Effective solutions to kickstart your
																	online presence.</h3>
															</div>
														</div>

													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="wpb_column vc_column_container vc_col-sm-4">
										<div class="vc_column-inner ">
											<div class="wpb_wrapper">
												<div class="wpb_raw_code wpb_content_element wpb_raw_html">
													<div class="wpb_wrapper">
														<div id="cards-2" class="cards feature feature-2">
															<div class="fronts2">
																<p class="feat-img"><img src="/assets/images/agencies-icon.png" alt="agencies" ImageHolder="/assets/images/agencies-icon.png" /></p>
																<h3 class="main-color">Agencies</h3>
															</div>
															<div class="backs2">
																<!--p class="feat-img"><img src="/wp-content/themes/TBI/images/agency.png" /></p-->
																<h3 class="secondary-color"><span class="highlight">Result</span> driven solutions guided by experts.</h3>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="wpb_column vc_column_container vc_col-sm-4">
										<div class="vc_column-inner ">
											<div class="wpb_wrapper">
												<div class="wpb_raw_code wpb_content_element wpb_raw_html">
													<div class="wpb_wrapper">
														<div id="cards-3" class="cards feature feature-3">
															<div class="fronts3">
																<p class="feat-img"><img src="/assets/images/Enterprises-icon.png" alt="Enterprises" ImageHolder="/assets/images/Enterprises-icon.png" /></p>
																<h3 class="main-color">Enterprises</h3>
															</div>
															<div class="backs3">
																<!--p class="feat-img"><img src="/wp-content/themes/TBI/images/enterprise.png" /></p-->
																<h3 class="secondary-color"><span class="highlight">Achieve</span> unprecedented growth with our round-the-clock support.</h3>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="vc_row-full-width vc_clearfix"></div>
				<!--div class="vc_row wpb_row vc_row-fluid procedure"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html homecarousel">
		<div class="wpb_wrapper">
			<h2 class="main_heading"><span class="highlight">How</span> It’s Done</h2>				 
<div class="tabs">
    <ul class="tab-links carousel-indicators">
        <li class="active" id="aa"><a href="#Discover">Discover</a></li>
        <li id="bb"><a href="#Design">Design</a></li>
        <li id="cc"><a href="#Develop">Develop</a></li>
        <li id="dd"><a href="#Market">Market</a></li>
        <li id="ee"><a href="#Analyse">Analyse</a></li>
    </ul>
    <div class="tab-content">
        <div id="Discover" class="tab active">
            <div class="col-sm-6">
				<div class="caption">
					<h1 class="secondary-color"><span class="highlight">Discovering</span>  the challenges</h1>
					<p>To get to know about the requirements of any project, research, discovery and analysis is needed.</p>
					<p class="small_text">We will demonstrate an initial model of your project with the data accumulated from the business analysts giving you an interface to completely visualize your application before it's assembled.</p>
					<p class="small_text">Great web development begins with perfect strategy and that is the reason we will create a design proposal that influences the development of your business.</p>			
				</div>
			</div>
			<div class="col-sm-6 Discover">
				<div class="image-lappyin" id="discover-lappyin"><img src="/assets/images/Group49.png" alt="discover tbi" width="auto" height="auto" ImageHolder="/assets/images/Group49.png" /></div>
				<div class="image-lappyleft" id="discover-lappyleft"><img width="auto" height="auto" src="/assets/images/Group48.png" alt="discover tbi" ImageHolder="/assets/images/Group48.png" /></div>
				<div class="image-lappyright" id="discover-lappyright"><img src="/assets/images/VectorSmartObject.png" alt="discover tbi" width="auto" height="auto" ImageHolder="/wp-content/themes/TBI/images/D1/1/VectorSmartObject.png" /></div>			
			</div>
        </div>
        <div id="Design" class="tab">
           <div class="col-sm-6">
				<div class="caption">
					<h3 class="secondary-color"><span class="highlight">Designing </span> the model</h3>
					<p>Through a cooperative process, we work with our customers to plan the best answers for their extraordinary difficulties.</p>
					<p class="small_text">A User Interface will be created based on the initial model that includes branding, usability and easy to use access for the entire application.</p>
					<p class="small_text">A splendidly designed website is a decent business generator for any organization and that is the reason they contribute their profitable assets, time and money to design one of a kind and up-to-date website for business.</p>		
				</div>
			</div>
			<div class="col-sm-6 Design">
				<div class="image-lappyin" id="design-lappyin"><img src="/assets/images/Group50.png" alt="Design tbi" width="auto" height="auto" ImageHolder="/wp-content/themes/TBI/images/D1/2/Group50.png" /></div>
				<div class="image-lappyleft" id="design-lappyleft"><img src="/assets/images/Group51.png" alt="Design tbi" width="auto" height="auto" ImageHolder="/wp-content/themes/TBI/images/D1/2/Group51.png" /></div>
				<div class="image-lappyright" id="design-lappyright"><img src="/assets/images/book.png" alt="Design tbi" width="auto" height="auto" ImageHolder="/wp-content/themes/TBI/images/D1/2/book.png" /></div>
			</div>
        </div>
        <div id="Develop" class="tab">
            <div class="col-sm-6">
				<div class="caption">
					<h3 class="secondary-color"><span class="highlight">Developing </span> the functionality</h3>
					<p>Using the open source technologies and therefore taking care of the issues in a correct way.</p>
					<p class="small_text">Developers will follow the same scope, prototype and design work to code all back-end and front-end functionality making sure that your website or application is sustainable in the long run.</p>
					<p class="small_text">After designing we focus on the development part. Our expert team is capable enough to work with different technologies as per your need. </p>			
				</div>
			</div>
			<div class="col-sm-6 Develop">
				<div class="image-lappyin" id="develop-lappyin"><img src="/assets/images/Group38.png" alt="Develop tbi" width="auto" height="auto" ImageHolder="/wp-content/themes/TBI/images/D1/3/Group38.png" /></div>
				<div class="image-lappyin2" id="develop-lappyin2"><img src="/assets/images/chat.png" alt="Develop tbi" width="auto" height="auto" ImageHolder="/wp-content/themes/TBI/images/D1/3/chat.png" /></div>
				<div class="image-lappyleft" id="develop-lappyleft"><img src="/assets/images/Group52.png" alt="Develop tbi" width="auto" height="auto" ImageHolder="/wp-content/themes/TBI/images/D1/3/Group52.png" /></div>
				<div class="image-lappyright" id="develop-lappyright"><img src="/assets/images/Group41.png" alt="Develop tbi" width="auto" height="auto" ImageHolder="/wp-content/themes/TBI/images/D1/3/Group41.png" /></div>
			</div>
        </div>
        <div id="Market" class="tab">
            <div class="col-sm-6">
				<div class="caption">
					<h3 class="secondary-color"><span class="highlight">Marketing </span> the right potential</h3>
					<p>Marketing is all about driving the correct prospects to your website.</p>
					<p class="small_text">It is a single tool that drives traffic to your website and provides cost effective and result oriented solutions, therefore increasing the online visibility and improving the leads.</p>
					<p class="small_text">Marketing refers to various promotional techniques used for reaching the customers. It is a single tool that drives traffic to your website and provides cost effective and result oriented solutions, therefore increasing the online visibility and improving the leads.</p>
					<p class="small_text">We have an expert team of professional marketing who can fulfill all your expectations related to your business.</p>
				</div>
			</div>
		 	<div class="col-sm-6 Market">
				<div class="image-lappyin" id="market-lappyin"><img src="/assets/images/Group54.png" alt="Market tbi" width="auto" height="auto" ImageHolder="/wp-content/themes/TBI/images/D1/4/Group54.png" /></div>
				<div class="image-lappyleft" id="market-lappyleft"><img src="/assets/images/Group55.png" alt="Market tbi" width="auto" height="auto" ImageHolder="/wp-content/themes/TBI/images/D1/4/Group55.png" /></div>
				<div class="image-lappyright" id="market-lappyright"><img src="/assets/images/Group16.png" alt="Market tbi" width="auto" height="auto" ImageHolder="/wp-content/themes/TBI/images/D1/4/Group16.png" /></div>
		 	</div>
        </div>
        <div id="Analyse" class="tab">
           <div class="col-sm-6">
				<div class="caption">
						<h3 class="secondary-color"><span class="highlight">Analyzing </span> the requirements</h3>
						<p>Your work is main focus for us, which is important for our future relationship.</p>
						<p class="small_text">A business analyst will work with you to understand the project requirements, business rules and logic to prepare a proper blueprint of the project to offer you the unmatched results.</p>
						<p class="small_text">Our team analyzes your requirement and depending upon your business needs, we put our ideas in front of you.</p>	
				</div>
			</div> 
			<div class="col-sm-6 Analyse">
				<div class="image-lappyin" id="analyse-lappyin"><img src="/assets/images/Group36.png" alt="analyse tbi" width="auto" height="auto" ImageHolder="/wp-content/themes/TBI/images/D1/5/Group36.png" /></div>
				<div class="image-lappyin2" id="analyse-lappyin2"><img src="/assets/images/magnifying-glass.png" alt="analyse tbi" width="auto" height="auto" ImageHolder="/wp-content/themes/TBI/images/D1/5/magnifying-glass.png" /></div>
				<div class="image-lappyleft" id="analyse-lappyleft"><img src="/assets/images/Group56.png" alt="analyse tbi" width="auto" height="auto" ImageHolder="/wp-content/themes/TBI/images/D1/5/Group56.png" /></div>
				<div class="image-lappyright" id="analyse-lappyright"><img src="/assets/images/VectorSmartObjectcopy5.png" alt="analyse tbi" width="auto" height="auto" ImageHolder="/wp-content/themes/TBI/images/D1/5/VectorSmartObjectcopy5.png" /></div>
			</div>
        </div>
    </div>
</div>
		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid blog-1"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h2 class="main_heading"><span class="highlight">Our</span> Blog</h2>
<p class="exp_text">Company News, Development News, Website Project Launches and much more</p>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<div class="blog_posts_new col-md-12 ">
	    		<div class="row"> 
	    			<% @blog.last(4).each do|blog|%>
	    			<div class="col-md-6 col-sm-6 blog_posts_inner">
	    				         
							       	<div class="post_new">
							       		<div class="col-md-6 col-sm-6 blog_posts_inner_one img0">
							        		<img src="https://www.brihaspatitech.com/wp-content/plugins/advanced-lazy-load/shade.gif" alt="" ImageHolder="https://www.brihaspatitech.com/wp-content/uploads/2019/02/homepage-link-preview-in-an-online-dating-app-in-iphone.jpg" />
							        	</div> 	
							        	<div class="col-md-6 col-sm-6 blog_posts_inner_two">
							        		<div class="resentpostdate"><%= blog.created_at.strftime('%b-%d-%y') %></div>
							        		<h3> <%= blog.title%></h3>
							        		<div class="resentpostexcerpt"><%= h truncate(blog.description,:length=>80)%>
							        		
							        		
							        										        			
							        		</div>         		
							           		<a href="/blogs" target="_blank" class="Blog1">READ MORE</a>
							           		
							         	</div>
							        </div>
							       
    							</div> 
    							 <%end%>
    							 </div>
    		</div>

		</div>
	</div>
</div></div></div></div><div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid client vc_row-no-padding"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h2 class="main_heading"><span class="highlight">Our</span> Clients</h2>
<p id="myeffect" class="exp_text">Words of Appreciation</p>

		</div>
	</div>

	<div class="wpb_raw_code wpb_content_element wpb_raw_html mytestimonial-contnr">
		<div class="wpb_wrapper">
			<div class="container content mytestimonial-outer"> 
	<div id="carousel-example-generic" class="carousel slide mytestimonial" data-ride="carousel"> 
		<ol class="carousel-indicators mytestimonial-indicator"> 
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li> 
			<li data-target="#carousel-example-generic" data-slide-to="1"></li> 
		</ol> 
		<div class="carousel-inner mytestimonial-inner"> 
			<div class="item active"> 
				<div class="row"> 
					<div class="col-xs-12 mytestimonial-col12">
						<div class="col-xs-6 mytestimonial-col6" id="2coltesti1"> 
							<div class="thumbnail adjust1"> 
								<div class="mytesti-image"> 
									<img class="media-object img-rounded img-responsive" src="https://www.brihaspatitech.com/wp-content/plugins/advanced-lazy-load/shade.gif" alt="Paul-Metger" width="auto" height="auto" ImageHolder="/wp-content/uploads/2017/05/Paul-Metger.jpg" /> 
								</div> 
								<div class="mytesti-content"> 
									<div class="caption"> 
										<blockquote class="adjust2"> 
	 										<p class="mytestip1">Paul Metger</p> 
	 										<small>
	 											<cite title="Source Title">
	 												IT Head at FoxChapel Publishing
	 											</cite>
	 										</small>
	  									</blockquote>								 
	  								</div> 
	  							</div> 
	  							<div class="mytesti-content2"> 
										<p class="mytestip2">Malibu IT Labs is a star company among all the other web development companies. Every project they have worked on has been completed successfully. I would use him again and again… Excellent Development company for Web Services, Magento, WordPress, Database work, etc Highly recommended!</p>	 
	  							</div> 
	  						</div> 
	  					</div> 
	  					<div class="col-xs-6 mytestimonial-col6" id="2coltesti"> 
							<div class="thumbnail adjust1"> 
								<div class="mytesti-image"> 
									<img class="media-object img-rounded img-responsive" src="https://www.brihaspatitech.com/wp-content/plugins/advanced-lazy-load/shade.gif" alt="Dan-Johnson" width="auto" height="auto" ImageHolder="/wp-content/uploads/2017/05/Dan-Johnson.jpg" /> 
								</div> 
								<div class="mytesti-content"> 
									<div class="caption"> 
										<blockquote class="adjust2"> 
	 										<p class="mytestip1">Dan Johnson</p> 
	 										<small>
	 											<cite title="Source Title">
	 												Founder of Citiquest
	 											</cite>
	 										</small>
	  									</blockquote> 
	  								</div> 
	  							</div> 
	  							<div class="mytesti-content2"> 
	  								<p class="mytestip2">We have worked with Malibu IT Labs for more than six months. As a small, family owned e-commerce company, we were looking for a consulting firm who could translate our business goals into real world value. We have been overhelmed with the quality of work and their helpful insights as we’ve grown the company.</p>
	  							</div>
	  						</div> 
	  					</div> 
	  				</div>
  				</div> 
  			</div> 
  			<div class="item"> 
  				<div class="row"> 
  					<div class="col-xs-12 mytestimonial-col12"> 
  						<div class="col-xs-6 mytestimonial-col61" id="4coltesti1"> 
	  						<div class="thumbnail adjust1">
	   							<div class="mytesti-image"> 
	   								<img class="media-object img-rounded img-responsive" src="https://www.brihaspatitech.com/wp-content/plugins/advanced-lazy-load/shade.gif" alt="Mostafa-Mirjalili" width="auto" height="auto" ImageHolder="/wp-content/uploads/2017/05/Mostafa-Mirjalili.jpg" /> 
	   							</div> 
								<div class="mytesti-content"> 
									<div class="caption"> 
										<blockquote class="adjust2">
	  										<p class="mytestip1">Mostafa Mirjalili</p> 
	      									<small><cite title="Source Title">Owner, iLoveVintage</cite>
	      									</small>
	   									</blockquote>
	    							</div>
	     						</div>
	     						<div class="mytesti-content2"> 
									<p class="mytestip2">Malibu IT Labs did a great job on this project. Great communication, competent team of developers and always available. They completed the job we set out to do on time within budget. I am using them on an ongoing basis to continue adding extensions to our site.</p>
	 									
	     						</div> 
	         				</div> 
	         			</div>
	         			<div class="col-xs-6 mytestimonial-col61" id="4coltesti"> 
	  						<div class="thumbnail adjust1">
	   							<div class="mytesti-image"> 
	   								<img class="media-object img-rounded img-responsive" src="https://www.brihaspatitech.com/wp-content/plugins/advanced-lazy-load/shade.gif" alt="Gabor" width="auto" height="auto" ImageHolder="https://www.brihaspatitech.com/wp-content/uploads/2017/05/Gabor-2.jpg" /> 
	   							</div> 
								<div class="mytesti-content"> 
									<div class="caption"> 
										<blockquote class="adjust2">
	  										<p class="mytestip1">Gabor</p> 
	      									<small><cite title="Source Title">Owner at truckparts.trade</cite>
	      									</small>
	   									</blockquote>
	    							</div>
	     						</div> 
	     						<div class="mytesti-content2"> 
									<p class="mytestip2">I wanted to thank the team at Malibu for the exceptional service I experienced. Everything went as expected, although time-frame was quite tight. Communication with Baljinder (my personal contact) was excellent throughout the process. I look forward to the next job with the professional team.</p>
	     						</div>
	         				</div> 
	         			</div>
         			</div> 
         		</div> 
         	</div> 
       </div>  
       <a class="left carousel-control mytestimonial-control" href="#carousel-example-generic" data-slide="prev"> 
       <span class="glyphicon glyphicon-chevron-left"></span> 
       </a> <a class="right carousel-control mytestimonial-control" href="#carousel-example-generic" data-slide="next"> 
       <span class="glyphicon glyphicon-chevron-right"></span> 
       </a> 
    </div> 
</div>
		</div>
	</div>
</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div-->
				<div class="vc_row wpb_row vc_row-fluid about">
					<div class="wpb_column vc_column_container vc_col-sm-12">
						<div class="vc_column-inner ">
							<div class="wpb_wrapper">
								<div class="wpb_text_column wpb_content_element ">
									<div class="wpb_wrapper">
										<h2 class="main_heading"><span class="highlight"> The MALIBU</span> Experience</h2>
										<p id="myeffect" class="exp_text">A proven track record of success</p>

									</div>
								</div>
								<div class="vc_row wpb_row vc_inner vc_row-fluid">
									<div class="wpb_column vc_column_container vc_col-sm-3">
										<div class="vc_column-inner ">
											<div class="wpb_wrapper">
												<div class="wpb_text_column wpb_content_element ">
													<div class="wpb_wrapper">
														<div class="about-sub about-sub1 ">
															<div class="about-icon icon_1"></div>
															<h4>Always on Time</h4>
															<p>Adherence to Time Schedule</p>
														</div>

													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="wpb_column vc_column_container vc_col-sm-3">
										<div class="vc_column-inner ">
											<div class="wpb_wrapper">
												<div class="wpb_text_column wpb_content_element ">
													<div class="wpb_wrapper">
														<div class="about-sub about-sub2">
															<div class="about-icon icon_2"></div>
															<h4>Ethical Approach</h4>
															<p>Driven by Integrity, Honesty, Dedication and Commitment.</p>
														</div>

													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="wpb_column vc_column_container vc_col-sm-3">
										<div class="vc_column-inner ">
											<div class="wpb_wrapper">
												<div class="wpb_text_column wpb_content_element ">
													<div class="wpb_wrapper">
														<div class="about-sub about-sub3">
															<div class="about-icon icon_3"></div>
															<h4>Regular Communication</h4>
															<p>Well informed of the progress.</p>
														</div>

													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="wpb_column vc_column_container vc_col-sm-3">
										<div class="vc_column-inner ">
											<div class="wpb_wrapper">
												<div class="wpb_text_column wpb_content_element ">
													<div class="wpb_wrapper">
														<div class="about-sub about-sub4">
															<div class="about-icon icon_4"></div>
															<h4>Save Big With Us</h4>
															<p>Get More Done in Minimal Cost</p>
														</div>

													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="scroll-form" class="vc_row wpb_row vc_row-fluid form home_contact">
					<div class="wpb_column vc_column_container vc_col-sm-12">
						<div class="vc_column-inner ">
							<div class="wpb_wrapper">
								<div class="wpb_text_column wpb_content_element ">
									<div class="wpb_wrapper">
										<h2 class="main_heading"><span class="highlight">Ready</span> to start a project?</h2>
										<p class="exp_text">We are too! Contact us and we’ll be in touch with you very shortly. We’re really fast.</p>

									</div>
								</div>
								<div class="vc_row wpb_row vc_inner vc_row-fluid">
									<div class="home_contact_right_col wpb_column vc_column_container vc_col-sm-6">
										<div class="vc_column-inner ">
											<div class="wpb_wrapper">
												<div class="wpb_text_column wpb_content_element ">
													<div class="wpb_wrapper">
														<div class="form_text">
															<h3>Get Started</h3>
															<p>We would be really happy to help you.</p>
														</div>

													</div>
												</div>

												<div class="wpb_text_column wpb_content_element ">
													<div class="wpb_wrapper">
														<div class="contact_base_text homecontact_base">
															<h2>After form submission you will get:</h2>
															<ul>
																<li><i class="fa fa-check-square-o"></i> An email or call from one of our experts</li>
																<li><i class="fa fa-check-square-o"></i> Price estimate</li>
																<li><i class="fa fa-check-square-o"></i> Answer to all your questions</li>
															</ul>
															<p>You can also send us your requirements/questions at:<br />
																<a class="contact@malibuitlabs.com" href="mailto:contact@malibuitlabs.com">contact@malibuitlabs.com</a></p>
														</div>

													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="home_contact_form wpb_column vc_column_container vc_col-sm-6">
										<div class="vc_column-inner ">
											<div class="wpb_wrapper">
												<div class="wpb_text_column wpb_content_element ">
													<div class="wpb_wrapper">
														<div class="_form_1">
															  <%= render "enquiries/form", enquiry: @enquiry%>
														</div>
														​
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
	</main><!-- .site-main -->
</div><!-- .content-area -->


</div><!-- .site-content -->
<script type="text/javascript">

$(document).ready(function(){
	var newURl = window.location.href;
	console.log(newURl);
	$( ".page_url" ).val(newURl);
	var pageTitle = $('.banner_text_inner h1').text();
	$( ".page_title" ).val(pageTitle);
});
</script>

	            <!--new---slider--->
				<script type="text/javascript" src="/assets/owl.carousel.js"></script>
<script>$('.fadeOut').owlCarousel({
                items: 1,
                animateOut: 'fadeOut',
				autoplay:1000,
                loop: true,
                margin: 10,
              });</script>
			  				<!--new---slider-end-->
			<!-- .site-inner -->	
			
						
					</div><!-- .site -->

	


		<script type="text/javascript">
		
		 /*jQuery(".home .navigation").removeClass("nav_white");
            jQuery(window).scroll(function(){var n=jQuery(window).scrollTop();n>=1?jQuery(".home .navigation").addClass("nav_white"):jQuery(".home .navigation").removeClass("nav_white")}),jQuery("body").click(function(){jQuery(".wpcf7-response-output").css("display","none").fadeOut(500)});*/

			
		jQuery(".footer_fix_info a").click(function(){var o=jQuery(".footer_fix_info").css("bottom");"0px"==o?(jQuery(".footer_fix_info").animate({bottom:"-120px"},200),jQuery(".footer_fix_info .fa.fa-angle-down").css("transform","rotate(-180deg)")):(jQuery(".footer_fix_info").animate({bottom:"0px"},200),jQuery(".footer_fix_info .fa.fa-angle-down").css("transform","rotate(0deg)"))});
		
		
		jQuery(document).on('click','.ddd',function(event) {
  event.preventDefault();
 $('html,body').animate( { scrollTop:$(this.hash).offset().top -46 } , 2000);
  } );

	</script>
	
	<!--script>
		window.onscroll = function() {
  "use strict";
  if (document.body.scrollTop >= 280 || document.documentElement.scrollTop >= 280) {
        $.getScript("/assets//mlpushmenu.js");
  } else {
   $.getScript("/assets//mlpushmenu2.js");
  }
};
         /*if (($(window).width() > 1000) && (jQuery(window).scroll(function(){var n=jQuery(window).scrollTop();n>=1)} {
             $('.navbar-default').css({"background-color": "#333", "color": "#fff"});
        } else {
            $('.navbar-default').css({"background-color": "#fff", "color": "#333"});*/
      }>
    </script-->
    
   
		
